@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body{
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    padding: 5vh 5vw;
}

header h1{
    font-family: "Poppins";
    font-weight: 800;
    font-size: 40px;
    background: linear-gradient(#6d40c5, #a377ff);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p{
    font-family: "Poppins";
    color: rgb(77, 77, 77);
}

/*****************************************************************/

main{
    text-align: center;
    margin-top: 3vh;
}

main h2{
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2vh;
}

main p{
    font-family: "Poppins";
    color: rgb(77, 77, 77);
}


#linkarea{
    text-align: center;
    margin-top: 10vh;
    padding: 10px;
    border: 1px solid rgb(160, 160, 160);
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

#linkarea span{
    font-size: 15px;
}

#linkarea textarea{
    overflow: hidden;
    width: 44vw;
    border: 1px solid #7d4fe0;
    box-shadow: 4px 4px 10px 1px #b39ee2;
    resize: none;
    padding: 10px 12px;
    border-radius: 5px;
}


#linkarea button{
    width: 22.8vw;
    background-color: #7d4fe0;
    border: none;
    border-radius: 8px;
    padding: 8px 0px;
}

#linkarea button:hover{
    cursor: pointer;
    background-color: #6942bd;
}

#linkarea button a{
    text-decoration: none;
    color: white;
}